.border {
    border: 1px #000 solid;
}

.tile-label {
    font-size: .9em;
    padding: 0 !important;
    left: 5 !important;
    padding-bottom: 5px !important;
    text-align: left !important;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

#dashboard {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

.tile {
    opacity: .8;
    color: #ccc;
    background-color: #000;
}

.tile,
.tile-small,
.tile-square,
.tile-wide,
.tile-large,
.tile-big,
.tile-super {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.tabcontrol>.frames .frame {
    background-color: inherit !important;
    border: 1px solid #1ba1e2;
}

.tile {
    display: block;
    float: left;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.tile-wide {
    width: 300px;
}