<div id="{{device.id}}" class="tile text-shadow" data-role="tile">
    <div class="tile-content">
        <span class="tile-label"></span>
        <span id="details_{{device.id}}">
        </span>
    </div>
</div>