<div style="background-color: #fff;color:#000;margin:0;opacity: .7;padding:15px">
    <h2>Cameras</h2>
    <div>
        add cameras here... for now just edit the cameras.json in data folder
    </div>
</div>