<div id="dashTitle" class="no-margin" style="position: absolute;top:0;left:175px;color:#ccc">
    <div class="place-left" style="margin:0;padding:0;">
        <h3>{{dashboard.name}}</h3>
    </div>
    <div class="place-left small" style="padding-top:10px;">
        <a href="{{dashboard.id}}/edit">&nbsp;&nbsp;Edit</a>
    </div>
</div>

<div id="dashboard" class="tile-container clear-float" data-id="{{dashboard.id}}">
</div>

<script type="text/javascript" src="/js/updates.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
