<div class="flex-grid" style="background-color: #fff;color:#000;margin:0;opacity: .85;padding:15px;">
    <div>
        <h3>About Open-Dash</h3>
        <p>An open-source project built from the ground up...</p>
    </div>
    <div class="row cell-auto-size" style="margin-top:20px;">
        <div class="cell size4 padding20">
            <div><h3>Donate</h3>
                <p>Donate your Time, Coding Skills, Design Skills, Testing, feedback or even Money.  Nothing in life is truely free, and your
                donation will go to fund the development and collaboration resources needed to keep this project going.</p>
                <p>Donations of $25USD or more will get a permanent shout out in our donators section and placement in the source code
                and application screens.</p>
            </div>
            <div class="margin40">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="74ZLRLLETB45U">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div id="dashList" class="cell size4 padding20">
            <h3>Existing Dashboards</h3>
            <ul class="simple-list large-bullet">
                {{#each dashboards}}
                <li><a href="/dashboards/{{id}}">{{name}}</a> : <a href="/dashboards/{{id}}/edit">edit</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="cell size4 padding20">
            <h3>Settings</h3>
            <a href="/settings">Go To Settings</a>
        </div>
    </div>
</div>