<div class="grid" style="background-color: #fff;color:#000;margin:0;opacity: .7;padding:15px">
    <h2>Templates</h2>
    <div class="row cells10">
        <div class="cell size2 padding10 ">
            <h3>Templates</h3>
            <div class="treeview" data-role="treeview">
                <ul id="tempMenu">
                    {{#each templates}}
                    <li><span id="temp_{{@index}}" class="leaf">{{id}}</span></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="cell padding10  colspan8">
            <h3>Template editor</h3>
            <ul class="horizontal-menu">
                <li id="new"><a href="#">New Template</a></li>
                <li id="delete"><a href="#">Delete Template</a></li>
                <li id="rename"><a href="#">Name: </a><input id="name" class="input-control  text" type="text" value=""></li>
                <li id="save"><a href="#">Save</a></li>
                <li id="res"><span id="results"></span></li>
            </ul>
            <div class="input-control textarea " data-role="input" data-text-auto-resize="false" style="width:100%; min-height:100%;height:60vh;">
                <textarea type="text" id="templateEditor"></textarea>
                <input type="hidden" id="id">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/templates.js"></script>